<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="{% block description %}{% endblock description %}">
    <title>{% block title %}{% endblock title %}</title>

    {% load static %}
    
    <link rel="stylesheet" href="{% static "css/variables.css" %}">
    <link rel="stylesheet" href="{% static "css/base.css" %}">

    {% block head %}{% endblock head %}

</head>
<body>
    
<div class="content">
    <div class="up-bar">
        {% comment %} left side {% endcomment %}
        <div class="home-btn-wrapper"></div>

        {% comment %} right side {% endcomment %}
        <div class="auth-wrapper">
            {% if user.is_authenticated %}
                <div class="profile-wrapper">
                    <div class="username-wrapper">
                        <span class="username-span">{{ request.user.first_name }} {{ request.user.last_name }}</span>
                    </div>
                </div>
            {% else %}
                <div class="auth-wrapper">
                    <div class="login-btn-wrapper">
                        <div class="login">
                            <span class="login-span">Login</span>
                        </div>
                    </div>
                    <div class="register-btn-wrapper">
                        <div class="register">
                            <span class="register-span">Register</span>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="left-bar">
        <div class="left-bar-filter-wrapper"></div>
    </div>

    {% block content %}{% endblock content %}
</div>

</body>
</html>