@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: var(--primary-background);
    font-family: 'Roboto', 'Times New Roman';
    color: var(--bright-text);
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 0px;
    border: 0px;
    padding: 0px;
    width: 100%;
    height: 95vh;
}

.up-bar {
    width: 100%;
    background-color: var(--secondary-background);
    height: 5vh;
    text-align: center;
    border-radius: var(--radius);
}

.profile-wrapper, .auth-wrapper {
    margin-right: 10px;
    float: right;
    height: 5vh;
    color: var(--bright-text);
}

.username-wrapper {
    height: 5vh;
    align-content: center;
}

.home-btn-wrapper {
    float: left;
    align-content: center;
    height: inherit;
    margin-left: 10px;
}

.home-btn {
    color: var(--link-color);
    text-decoration: none;
}